body {
  background-color: #11151c;
  color: white;
}

.container {
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 80%;
  max-width: 1200px;
  height: 90%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 20px;
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  width: 100%;
  height: 100%;
}

.left-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.left-box {
  background-color: #364156;
  border-radius: 15px;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color: white;
}
.character-area {
  background-color: #212d40;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.character-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.menu-card {
  flex: 1;
  height: 80%;
  background-color: #364156;
  border-radius: 15px;
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 28px;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.menu-card:hover {
  background-color: #d66853;
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(214, 104, 83, 0.4);
}

.nav-arrow {
  width: 50px;
  height: 50px;
}

/* 연락처 정보 스타일 */
/* 소셜 미디어 아이콘 스타일 */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* 연락처 정보 스타일 */
.contact-info {
  position: absolute;
  bottom: 80px;
  left: 35%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.contact-info p {
  margin: 0;
  font-size: 16px;
  color: white;
}

.contact-info-item {
  display: block;
  margin: 5px 0;
}

.contact-info a {
  color: #d66853;
  text-decoration: none;
}

.contact-info a:hover {
  color: #7d4e57;
  text-decoration: underline;
}
.social-icons a {
  color: white;
  font-size: 32px;
  text-decoration: none;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.social-icons a:hover {
  transform: translateY(-3px);
  color: #d66853;
}

.name {
  text-align: center;
  font-size: 30px;
}

.margin-0 {
  margin: 10px 0px;
}
.e-mail {
  margin: 10px 0px;
  font-size: smaller;
  font-family: "Montserrat", sans-serif;
}
