.img-header {
  width: 68%;
  height: 230px;
}

.img-holder {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.accordion-item {
  border: 1px solid #364156;
  border-radius: 8px;
  margin: 10px auto;
  width: 65%;
  background-color: #364156;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.accordion-header {
  width: 100%;
  padding: 10px 15px;
  color: white;
  background-color: #212d40;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
  border-radius: 8px;
}
.accordion-header:hover {
  background-color: #7d4e57;
}
.accordion-header .icon {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 14px;
}
.accordion-header.active .icon {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: #11151c;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  align-items: center;
}
.accordion-content.active {
  max-height: 5000px;
  padding: 20px;
  overflow-y: auto;
}
.accordion-content p {
  margin: 0;
  color: white;
  line-height: 1.5;
}
.photo-img {
  width: 85%;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.photo-img:hover {
  transform: scale(1.05);
}

.photo-item {
  position: relative;
  display: inline-block;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #d66853;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  z-index: 10;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background: #7d4e57;
  transform: scale(1.05);
}
