<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <meta name="author" content="FurGall" />
    <meta name="description" content="Fursuit & Fur pictue Gallary" />
    <!--구글 폰트 가져오기-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <!--타이틀-->
    <title>FurGall</title>
    <link rel="icon" href="../static/image/koyu.webp" type="image/x-icon" />
  </head>
  <body>
    <!--헤더 부분-->
    <header>
      <div class="logo-container">
        <div class="logo"><img src="../static/image/koyu.webp" alt="logo" class="logo-img" /></div>
        <div class="logo"><img src="../static/image/test.PNG" alt="logo" class="logo-next-img" /></div>
      </div>
      <nav class="header-nav">
        <a href="/photo" title="PHOTO" class="nav-button">PHOTO</a>
        <span>|</span>
        <a href="/3d" title="3D" class="nav-button">3D</a>
        <span>|</span>
        <a href="/art" title="ART" class="nav-button">ART</a>
        <span>|</span>
        <a href="/about" title="ABOUT" class="nav-button">ABOUT</a>
        <a href="/register" title="REGISTER" class="nav-button auth-button">Register</a>
        <a href="/login" title="LOGIN" class="nav-button" id="login-button">Login</a>
      </nav>
    </header>
    <!--메인 부분-->
    <div class="container">
      <main class="main-content">
        <section class="hero-section">
          <div class="left-column">
            <div class="left-box">
              <h1 class="margin-0">FurGall</h1>
              <h2 class="margin-0">Fursuit & Fur pictue Gallary</h2>
            </div>
            <div class="left-box">
              <div class="social-icons slide-down-center delay-5">
                <span class="name">Mir:</span>
                <a href="https://github.com/MirDraco" target="_blank" title="GitHub">
                  <i class="fab fa-github"></i>
                </a>
                <a href="https://x.com/Mir__Draco" target="_blank" title="Twitter/X">
                  <i class="fab fa-x-twitter"></i>
                </a>
                <a href="https://discord.com/users/904740301325893664" target="_blank" title="Discord">
                  <i class="fab fa-discord"></i>
                </a>
              </div>
              <h3 class="e-mail">e-mail : mir-dev@mirchan.cloud</h3>
              <div class="social-icons slide-down-center delay-5">
                <span class="name">Melty:</span>
                <a href="https://x.com/melty_furry" target="_blank" title="Twitter/X">
                  <i class="fab fa-x-twitter"></i>
                </a>
                <a href="https://discord.com/users/467567239902527488" target="_blank" title="Discord">
                  <i class="fab fa-discord"></i>
                </a>
              </div>
              <h3 class="e-mail">e-mail : melty1003@gmail.com</h3>
            </div>
          </div>
          <div class="character-area">
            <img src="../static/image/nori.jpeg" class="nori-pic" />
          </div>
        </section>

        <nav class="menu-section">
          <a href="/photo" class="menu-card">PHOTO</a>
          <a href="/3d" class="menu-card">3D</a>
          <a href="/art" class="menu-card">ART</a>
        </nav>
      </main>
    </div>
    <!--푸터-->
    <footer id="footer">
      <p id="copyright">ⓒ 2026 Mir All rights reserved.</p>
    </footer>
  </body>
</html>
