<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phtoto.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}" />
    <meta name="author" content="FurGall" />
    <meta name="description" content="Fursuit & Fur pictue Gallary" />
    <!--구글 폰트 가져오기-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet" />
    <!--타이틀-->
    <title>Photo</title>
    <link rel="icon" href="../static/image/koyu.webp" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="logo-container">
        <div class="logo">
          <img src="{{ url_for('static', filename='image/koyu.webp') }}" alt="logo" class="logo-img" />
        </div>
        <div class="logo">
          <img src="{{ url_for('static', filename='image/test.png') }}" alt="logo" class="logo-next-img" />
        </div>
      </div>
      <nav class="header-nav">
        <a href="/photo" title="PHOTO" class="nav-button">PHOTO</a>
        <span>|</span>
        <a href="/3d" title="3D" class="nav-button">3D</a>
        <span>|</span>
        <a href="/art" title="ART" class="nav-button">ART</a>
        <span>|</span>
        <a href="/about" title="ABOUT" class="nav-button">ABOUT</a>
        <button class="nav-button upload-button" onclick="openUploadModal()">UPLOAD</button>
        <a href="/register" title="REGISTER" class="nav-button auth-button">Register</a>
        <a href="/login" title="LOGIN" class="nav-button" id="login-button">Login</a>
      </nav>
    </header>
    <main>
      <div class="img-holder">
        <img src="{{ url_for('static', filename='image/IMG_0049.PNG') }}" class="img-header" />
      </div>
      <!--2026-->
      <div class="accordion-item">
        <button class="accordion-header">2026<span class="icon">▼</span></button>
        <div class="accordion-content"></div>
      </div>
      <!--2025-->
      <div class="accordion-item">
        <button class="accordion-header">2025<span class="icon">▼</span></button>
        <div class="accordion-content"></div>
      </div>
      <!--2024-->
      <div class="accordion-item">
        <button class="accordion-header">2024<span class="icon">▼</span></button>
        <div class="accordion-content"></div>
      </div>
      <!--2023-->
      <div class="accordion-item">
        <button class="accordion-header">2023<span class="icon">▼</span></button>
        <div class="accordion-content"></div>
      </div>
      <!--사진 업로드 모달-->
      <div id="uploadModal" class="modal">
        <div class="modal-overlay" onclick="closeUploadModal()"></div>

        <div class="modal-content upload-box">
          <span class="close-btn" onclick="closeUploadModal()">&times;</span>
          <h3>Upload new image</h3>
          <h4>Upload under 100MB!!</h4>

          <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="input-group">
              <label>Select Year:</label>
              <select name="year" class="year-select">
                <option value="2026">2026</option>
                <option value="2025">2025</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
              </select>
            </div>

            <div class="input-group year-group">
              <input type="file" name="file" accept="image/*" multiple required />
            </div>

            <button type="submit" class="submit-btn">Upload</button>
          </form>
        </div>
      </div>
    </main>
    <footer id="footer">
      <p id="copyright">ⓒ 2026 Mir All rights reserved.</p>
    </footer>
  </body>
  <script src="{{ url_for('static', filename='js/photo.js') }}?v=4"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</html>
